* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Open Sans Condensed', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap"); }

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 22px;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  position: relative; }

@media (max-width: 1248px) {
  .slider div img {
    display: none; }
  .slider .slick-prev {
    display: none !important; }
  .slider .slick-next {
    display: none !important; } }

@media (max-width: 1080px) {
  .hc-head div img {
    width: 253px !important;
    height: 80px !important; }
  .hc-head p {
    font-size: 1.9em !important; }
  .ms .menu ul li::after {
    top: 8px !important;
    height: 18px !important; }
  .ms .menu a {
    font-size: .6em !important; }
  .mcr-item:nth-child(3n) {
    margin-right: 15px !important; } }

@media (max-width: 720px) {
  .hc-head {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .hc-head div {
      position: static !important; }
      .hc-head div img {
        width: 100%;
        height: 100%; }
    .hc-head p {
      text-align: center !important;
      position: static !important; }
  .ms .menu {
    height: 160px !important; }
    .ms .menu ul {
      flex-direction: column !important;
      align-items: center !important; }
      .ms .menu ul li {
        display: block !important; }
        .ms .menu ul li::after {
          content: '';
          display: none; }
  .main {
    width: 100% !important;
    height: 100% !important; }
    .main .container {
      flex-direction: column;
      height: 100% !important; }
      .main .container .mc-left {
        padding: 0 !important;
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .main .container .mc-right {
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
  .footer .container {
    flex-direction: column; } }

.feedback {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7); }

@keyframes anim {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .feedback.active {
    display: flex;
    justify-content: center;
    align-items: center; }
  .feedback.disable {
    display: none; }
  .feedback.fade {
    animation: anim .5s; }
  .feedback .fb-back {
    width: 466px;
    height: 578px;
    background: #fff;
    position: relative; }
    .feedback .fb-back .fb-close {
      width: 27px;
      height: 27px;
      background: #777777;
      position: absolute;
      top: -27px;
      right: -27px; }
      .feedback .fb-back .fb-close::before {
        content: '';
        position: absolute;
        left: 13px;
        top: 4.5px;
        width: 1px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg); }
      .feedback .fb-back .fb-close::after {
        content: '';
        position: absolute;
        left: 13px;
        top: 4.5px;
        width: 1px;
        height: 20px;
        background: #fff;
        transform: rotate(-45deg); }
      .feedback .fb-back .fb-close:hover {
        cursor: pointer; }
    .feedback .fb-back #fb-form {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .feedback .fb-back #fb-form h2 {
        color: #535353;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px 0; }
      .feedback .fb-back #fb-form div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; }
        .feedback .fb-back #fb-form div p {
          color: #535353;
          font-size: 14px;
          font-weight: 400; }
          .feedback .fb-back #fb-form div p span {
            color: red; }
          .feedback .fb-back #fb-form div p:hover {
            cursor: default; }
        .feedback .fb-back #fb-form div input {
          box-sizing: border-box;
          padding: 10px;
          width: 340px;
          height: 40px;
          outline: none;
          font-size: 14px;
          font-weight: 400;
          color: #535353;
          border: 1px solid #c3c3c3; }
          .feedback .fb-back #fb-form div input.empty {
            background: #fff;
            box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
            border: 1px solid #ff8383;
            animation: anim .5s; }
            .feedback .fb-back #fb-form div input.empty::placeholder {
              color: #dc7f7f;
              font-size: 14px;
              font-style: italic; }
        .feedback .fb-back #fb-form div textarea {
          box-sizing: border-box;
          padding: 10px;
          width: 340px;
          height: 140px;
          resize: none;
          outline: none;
          font-size: 14px;
          font-weight: 400;
          color: #535353;
          border: 1px solid #c3c3c3; }
        .feedback .fb-back #fb-form div .fb-btn {
          width: 130px;
          height: 40px;
          background: #777777;
          border: none;
          font-size: 18px;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase; }
          .feedback .fb-back #fb-form div .fb-btn:hover {
            cursor: pointer; }
        .feedback .fb-back #fb-form div:last-child {
          margin: 0; }

.container {
  max-width: 980px;
  height: 100%;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 230px;
  background: #ccc; }
  .header .container .hc-head {
    width: 100%;
    height: 230px;
    position: relative;
    display: flex;
    align-items: center; }
    .header .container .hc-head .hc-left {
      position: absolute;
      left: 0;
      width: 273px;
      height: 100%;
      display: flex;
      align-items: center; }
      .header .container .hc-head .hc-left img {
        width: 273px;
        height: 100px; }
    .header .container .hc-head .hc-right {
      position: absolute;
      right: 0;
      width: 283px;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      .header .container .hc-head .hc-right .phones {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #767676;
        font-size: 32px;
        font-weight: 300;
        line-height: 46px;
        letter-spacing: 1px; }
      .header .container .hc-head .hc-right .feedback-link {
        color: #767676;
        width: 210px;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.6px;
        transition: .2s;
        position: relative;
        text-align: end; }
        .header .container .hc-head .hc-right .feedback-link:hover {
          cursor: pointer; }
          .header .container .hc-head .hc-right .feedback-link:hover::after {
            content: '';
            position: absolute;
            height: 2px;
            bottom: 0px;
            left: 38px;
            right: 0;
            border-bottom: 2px dashed #767676; }

.general {
  padding-bottom: 220px; }
  .general .nav-plus-slider {
    width: 100%;
    height: 480px;
    position: relative; }
    .general .nav-plus-slider .menu {
      width: 100%;
      height: 80px;
      background: #777777;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2; }
      .general .nav-plus-slider .menu .container {
        max-width: 100% !important; }
        .general .nav-plus-slider .menu .container .main-navigation {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; }
          .general .nav-plus-slider .menu .container .main-navigation .nav-menu {
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap; }
            .general .nav-plus-slider .menu .container .main-navigation .nav-menu .nav-item {
              display: block;
              height: 100%;
              font-size: 30px;
              font-weight: 400;
              letter-spacing: 0.75px;
              position: relative; }
              .general .nav-plus-slider .menu .container .main-navigation .nav-menu .nav-item::after {
                position: absolute;
                top: 2px;
                right: -2px;
                background: #fff;
                height: 100%;
                width: 2px;
                content: ''; }
              .general .nav-plus-slider .menu .container .main-navigation .nav-menu .nav-item:last-child::after {
                display: none; }
              .general .nav-plus-slider .menu .container .main-navigation .nav-menu .nav-item a {
                color: #fff;
                text-decoration: none;
                padding: 0 20px; }
                .general .nav-plus-slider .menu .container .main-navigation .nav-menu .nav-item a:hover {
                  text-decoration: underline; }
    .general .nav-plus-slider .slider {
      width: 100%;
      height: 462px;
      background: #f8f8f8;
      position: absolute;
      z-index: 1;
      top: 20px; }
      .general .nav-plus-slider .slider .slick-slide {
        outline: none;
        display: flex;
        justify-content: center; }
      .general .nav-plus-slider .slider .sl-js {
        width: 100%;
        height: 100%;
        margin: 0 auto; }
        .general .nav-plus-slider .slider .sl-js .slick-active img {
          width: 1248px;
          height: 100%; }
      .general .nav-plus-slider .slider .slick-prev {
        left: 436px;
        z-index: 2;
        width: 34px;
        height: 61px;
        background: #d1d1d1; }
        .general .nav-plus-slider .slider .slick-prev::before {
          margin-left: 10px;
          content: '';
          display: block;
          opacity: 1;
          width: 25px;
          height: 25px;
          border: 4px solid #000;
          border-right: 0;
          border-bottom: 0;
          transform: rotate(-45deg); }
      .general .nav-plus-slider .slider .slick-next {
        right: 436px;
        z-index: 2;
        width: 34px;
        height: 61px;
        background: #d1d1d1; }
        .general .nav-plus-slider .slider .slick-next::before {
          margin-left: -5px;
          content: '';
          display: block;
          opacity: 1;
          width: 25px;
          height: 25px;
          border: 4px solid #000;
          border-left: 0;
          border-bottom: 0;
          transform: rotate(45deg); }
  .general .main {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 195px; }
    .general .main .container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .general .main .container .breadcrumbs .bc-link {
        color: #767676;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: .35px; }
      .general .main .container .breadcrumbs .mc-link.active {
        text-decoration: none; }
      .general .main .container .breadcrumbs .mc-span {
        margin: 0 5px 0 10px;
        color: #767676;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: .35px; }
      .general .main .container .mc-lr {
        display: flex;
        position: relative;
        margin-top: 27px;
        height: 1185px; }
        .general .main .container .mc-lr .mc-left {
          width: 178px;
          height: 508px;
          position: absolute;
          left: 0;
          top: 0; }
          .general .main .container .mc-lr .mc-left .mcl-menu {
            height: 300px;
            overflow: hidden; }
            .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li {
              height: 30px;
              overflow: hidden;
              font-size: 18px;
              font-weight: 400;
              letter-spacing: 0.45px;
              line-height: 30px;
              list-style: none;
              transition: .5s; }
              .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li a {
                color: #767676;
                text-decoration: none; }
                .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li a:hover {
                  text-decoration: underline; }
              .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li:hover {
                height: 118px; }
              .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li ul {
                list-style: none;
                padding-left: 25px; }
                .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li ul li {
                  position: relative;
                  line-height: 22px;
                  letter-spacing: 0.35px;
                  font-size: 14px; }
                  .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li ul li a:hover {
                    color: #000; }
                  .general .main .container .mc-lr .mc-left .mcl-menu .mclm-li ul li::before {
                    position: absolute;
                    content: '';
                    left: -15px;
                    top: 9px;
                    width: 5px;
                    height: 5px;
                    background: #767676;
                    border-radius: 100%; }
          .general .main .container .mc-lr .mc-left .mcl-brand {
            width: 100%;
            height: 144px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            .general .main .container .mc-lr .mc-left .mcl-brand img {
              width: 97px;
              height: 111px; }
            .general .main .container .mc-lr .mc-left .mcl-brand h2 {
              color: #444444;
              font-size: 30px;
              font-weight: 700;
              line-height: 25px;
              letter-spacing: 0.75px; }
        .general .main .container .mc-lr .mc-right {
          width: 780px;
          height: 100%;
          color: #767676;
          position: absolute;
          right: 0;
          top: 0; }
          .general .main .container .mc-lr .mc-right .mcr-top .mcr-items {
            display: flex;
            flex-wrap: wrap; }
            .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item {
              box-sizing: border-box;
              padding: 20px;
              margin-right: 15px;
              margin-bottom: 15px;
              background: #dcdcdc;
              width: 250px;
              height: 380px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center; }
              .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item:nth-child(3n) {
                margin-right: 0; }
              .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item img {
                width: 210px;
                height: 209px; }
              .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item .mcr-title {
                color: #767676;
                font-size: 18px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: .45px; }
                .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item .mcr-title:hover {
                  text-decoration: underline;
                  cursor: pointer; }
              .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item div {
                width: 100%;
                display: flex;
                justify-content: space-between; }
                .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item div p {
                  color: #444444;
                  font-size: 28px;
                  font-weight: 700;
                  line-height: 18px;
                  letter-spacing: .7px; }
                .general .main .container .mc-lr .mc-right .mcr-top .mcr-items .mcr-item div img {
                  width: 28px;
                  height: 21px; }
          .general .main .container .mc-lr .mc-right .mcr-top .mcr-page {
            height: 25px;
            margin-top: 32px;
            margin-bottom: 67px;
            display: flex;
            justify-content: center; }
            .general .main .container .mc-lr .mc-right .mcr-top .mcr-page p .mcr-link {
              text-decoration: none;
              color: #767676;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              margin: 0 5px;
              transition: .3s;
              position: relative; }
              .general .main .container .mc-lr .mc-right .mcr-top .mcr-page p .mcr-link:hover {
                color: #444444;
                text-decoration: underline; }
              .general .main .container .mc-lr .mc-right .mcr-top .mcr-page p .mcr-link.active {
                color: #444444;
                font-size: 18px;
                margin: 0 7px; }
          .general .main .container .mc-lr .mc-right .mcr-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 28px; }
            .general .main .container .mc-lr .mc-right .mcr-bottom p {
              color: #767676;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: .35px; }
              .general .main .container .mc-lr .mc-right .mcr-bottom p:first-child {
                width: 371px;
                margin-right: 20px; }
              .general .main .container .mc-lr .mc-right .mcr-bottom p:last-child {
                width: 368px;
                margin-left: 20px; }

.footer {
  width: 100%;
  height: 220px;
  background: #777777;
  margin-top: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .container .footer-block .copyright {
      width: 200px;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      margin: 0; }
    .footer .container .footer-block.footer-navigation .nav-menu {
      list-style: none; }
      .footer .container .footer-block.footer-navigation .nav-menu .nav-item a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px; }
    .footer .container .footer-block .logo {
      width: 36px;
      height: 38px; }
    .footer .container .footer-block .about-us, .footer .container .footer-block .about-us a {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }
    .footer .container .footer-block:last-child {
      width: 225px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer .container .footer-block:last-child p {
        margin-left: 10px; }
